body{
    background-image: -webkit-linear-gradient(navy,yellow,red,blue,yellow);
    text-align: center;
}

h1{
    color: green;
    
}
a:visited {
    color: black;
}
a:link{
    color: green;
}
a:hover{
    color: gold;
}
.content{
    color: green;
}
.szoveg{
    color: white;
}
.game{
    color: white;
}
.gdi{
    color: gold;
}